[Unit]
Description=AllocContext ingest timer
Requires=alloc-context-ingest.service

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
